:root
{
    --cor-principal-hover: #444a5b;
    --cor-principal-link: #ffffff;
    --cor-cabecalho:  #1d1f24;
}




body 
{
    background-color: var(--cor-principal-hover);
}

a 
{
    text-decoration: none;
}

.cabecalho 
{
    background-color: var(--cor-cabecalho);
    height: 120px;
}

.navegacaoUsuario ul
{
   text-align: center;
   
}
.navegacaoUsuario li
{   
    display: inline-block;
    position: relative;
    margin: 45px 20px 0 20px;
}

.navegacaoUsuario li :hover
{
    color: var(--cor-principal-hover);
    transition: 0.8s;

}

.navegacaoUsuario a 
{
    color: var(--cor-principal-link);
    font-size: 35px;
}

.comportamentoSlideShow
{
    display: grid;
    justify-content: center;
    align-content: space-between;
    grid-template-columns: auto auto;
}

.conteudoSlideShow
{
    margin-left: 40px;
}


.conteudoSlideShow :hover 
{
    transition: 0.9s;
    transition-timing-function: ease-out;
    border: 1px solid var(--cor-principal-link);
    box-shadow: 10px 10px 20px var(--cor-cabecalho);
}

.imagensJogos
{
    margin: 40px 0 0 0;
    border-radius: 20px;
    width: 650px;
    height: 350px;
}
