:root
{
    --cor-principal-hover: #444a5b;
    --cor-principal-link: #ffffff;
    --cor-cabecalho:  #1d1f24;
}




body 
{
    background-color: var(--cor-principal-hover);
}

a 
{
    text-decoration: none;
}

.cabecalho 
{
    background-color: var(--cor-cabecalho);
    height: 120px;
}

.navegacaoUsuario ul
{
   text-align: center;
   
}
.navegacaoUsuario li
{   
    display: inline-block;
    position: relative;
    margin: 40px 20px 0 20px;
}

.navegacaoUsuario li :hover
{
    color: var(--cor-principal-hover);
    transition: 0.8s;

}

.navegacaoUsuario a 
{
    color: var(--cor-principal-link);
    font-size: 35px;
}

.comportamentoSlideShow
{
    text-align: center;
}

.comportamentoSlideShow :hover 
{
    transition: 0.95s;
    width: 750px;
    height: 400px;
    box-shadow: 10px 10px 20px var(--cor-cabecalho);
}

.imagensJogos
{
    margin: 40px 0 0 0;
    border-radius: 20px;
    width: 650px;
    height: 350px;
}
